@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6, p{
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: .2s ease-out;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-width: 320px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  --swiper-theme-color: #67d7d4e0;
}



@import "blocks/promo";
@import "blocks/choice";
@import "blocks/proposal";
@import "blocks/work";
@import "blocks/action";
@import "blocks/reviews";
@import "blocks/footer";
@import "blocks/popup";
@import "blocks/pageup";
@import "blocks/personal";
@import "blocks/policy";
@import "blocks/cookie";
@import "blocks/burger";
@import "blocks/snow";
@import "blocks/media";

