.action {
  padding: 60px 0 80px 0;
  background-image: linear-gradient(-350deg, rgba(174, 174, 183, 0.44) 26%, rgba(245, 245, 245, 0.77) 70%);
  //background-image: linear-gradient(-347deg, rgba(7, 7, 21, 0.44) 26%, rgba(35, 15, 15, 0.77) 70%);

  .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: end;
	align-items: flex-start;
  }

  &__wrapper {
	display: flex;
	align-items: flex-start;
  }

  &__text {
	width: 25%;

	.title {
	  color: #0D0D0D;
	  font-size: 30px;
	  font-weight: 700;
	  text-align: center;
	  text-transform: uppercase;
	  line-height: 40px;
	}
  }

  &__descr {
	margin-top: 25px;
	font-size: 17px;
	line-height: 20px;
	font-weight: 400;
	color: #0D0D0D;

	span {
	  font-weight: 700;
	  font-size: 25px;
	  color: #7070ec;
	  line-height: 30px;
	  text-transform: uppercase;
	}
  }

  &__image {
	padding-left: 55px;
	width: 80%;

	img {
	  width: 55%;
	}
  }

  &__timer {
	width: 45%;

	.title {
	  text-align: right;
	}

	.timer {
	  margin-top: 40px;
	  padding-left: 35px;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;

	  &__block {
		color: #000000d1;
		width: 102px;
		height: 120px;
		background: #FFFFFF;
		box-shadow: 0 4px 20px 0 rgba(102, 74, 74, 0.25);
		font-size: 16px;
		font-weight: 300;
		text-align: center;

		span {
		  display: block;
		  font-size: 56px;
		  font-weight: 700;
		}
	  }
	}
  }
}


@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 250;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;

  @for $i from 1 through $total {
	$random-x: random(1000000) * 0.0001vw;
	$random-offset: random_range(-100000, 100000) * 0.0001vw;
	$random-x-end: $random-x + $random-offset;
	$random-x-end-yoyo: $random-x + ($random-offset / 2);
	$random-yoyo-time: random_range(30000, 80000) / 100000;
	$random-yoyo-y: $random-yoyo-time * 100vh;
	$random-scale: random(10000) * 0.0001;
	$fall-duration: random_range(10, 30) * 1s;
	$fall-delay: random(30) * -1s;

	&:nth-child(#{$i}) {
	  opacity: random(10000) * 0.0001;
	  transform: translate($random-x, -10px) scale($random-scale);
	  animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
	}

	@keyframes fall-#{$i} {
	  #{percentage($random-yoyo-time)} {
		transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
	  }

	  to {
		transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
	  }
	}
  }
}