.mobile-menu {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  top: 80px;
  left: 0;
  z-index: 10;
  transition: all 0.5s;
  background-color: #f8f8f8;
  color: #333333;
  &-list {
    z-index: 1;
    list-style: none;
  }
  &-body {
    text-align: center;
    li {
      margin-top: 55px;
      a {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #333333;
        text-decoration: none;
      }
    }
  }
  &-header {
    display: none;
    position: relative;
    bottom: 5px;
    align-items: center;
  }
}

.menu__list-item:last-child {
  font-size: 17px;
  text-transform: uppercase;
}

.menu__list-item a {
  color: #333333;
  margin-left: 10px;
  transition: 0.6s all;
  &:hover {
    color: #333333;
  }
}

.mobile-menu.active {
  height: 80%;
  display: block;
}

.burger {
  display: none;
  --burger-height: 25px;
  --stick-width: 35px;
  --stick-height: 3px;
  --stick-color: #2f3e53;
  --transition-duration: 0.3s;
  z-index: 50;

  position: relative;
  width: var(--stick-width);
  height: var(--burger-height);
  cursor: pointer;
  overflow: hidden;
}

.stick {
  position: absolute;
  height: var(--stick-height);
  width: var(--stick-width);
  background-color: var(--stick-color);
  border-radius: 2px;
  transition: transform ease-in-out, width ease-in-out;
  transition-duration: var(--transition-duration);
}

.stick:nth-child(1) {
  top: 0;
}

.stick:nth-child(2),
.stick:nth-child(3),
.stick:nth-child(4) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.stick:nth-child(5) {
  bottom: 0;
}

.burger.active .stick:nth-child(even) {
  transition-delay: var(--transition-duration);
}

.burger:not(.active) .stick:nth-child(odd) {
  transition-delay: var(--transition-duration);
}

.burger.active .stick:nth-child(odd) {
  width: 0;
}

.burger.active .stick:nth-child(2) {
  transform: rotate(45deg);
}

.burger.active .stick:nth-child(4) {
  transform: rotate(-45deg);
}